.navbarcol{
    font-size: 20px;
    padding-right: 80px;
}
.navbardata{
    padding-right: 25px;
}
.about-container{
    margin-top: 190px;
    
    margin-left: 100px;
    margin-right: 100px;
    font-size: 21px;
}