<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Home.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/ac42c3b1f7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="Home.html">
        <img
          class="logo-navbar"
          src="{{ url_for('static', filename='logo1.jpg') }}"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbarcol" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active navbardata">
            <a class="nav-link" id="navbaritem1" href="{{ url_for('Home') }}"
              >Home<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item navbardata">
            <a class="nav-link" id="navbaritem2" href="{{ url_for('About') }}"
              >About</a
            >
          </li>
          <li class="nav-item navbardata">
            <a class="nav-link" id="navbaritem3" href="{{ url_for('Upload') }}"
              >Upload</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <br /><br /><br /><br /><br />
    <div class="head-container">
      <br /><br />
      <div class="d-flex flex-column intro">
        <h1 style="color: #ffffff; font-size: 50px">Welcome to KneeInsight!</h1>
        <h4 style="font-size: 20px; color: #ffffff">
          Where Knowledge Meets Mobility.
        </h4>
        <br />
        <p class="intro-data">
          At KneeInsight, we are committed to providing you with comprehensive
          and personalized reports on knee degenerative arthritis. Our platform
          leverages cutting-edge technology to analyze key indicators, offering
          you invaluable insights into the health of your knees.
        </p>
        <br />
        <p class="intro-data" style="font-weight: bold">
          Doubtful about your knee...?
        </p>
        <br />
        <p style="color: white">We are Here to Provide You the Solution!</p>
      </div>
    </div>
    <div
      class="modal fade"
      id="helpModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title help-title" id="exampleModalLabel">
              Any Queries..?
            </h1>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="p">Reach out to us at <b>majorprojectc7@gmail.com</b></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="contact-us">
        <br />
        <h1 class="contact-head">Contact Us</h1>
        <br /><br />
        <div>
          <!-- Facebook icon with redirection -->
          <a href="https://www.facebook.com"><i class="fab fa-facebook contact-icon"></i></a>
          <!-- LinkedIn icon with redirection -->
          <a href="https://www.linkedin.com"><i class="fab fa-linkedin contact-icon"></i></a>
          <!-- Instagram icon with redirection -->
          <a href="https://www.instagram.com"><i class="fab fa-instagram contact-icon"></i></a>
        </div>
      </div>
    </div>
      </div>
    </div>
  </body>
</html>
